* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

header a {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

main h2 {
    font-weight: 600;
    font-size: 28px;
}

main p {
    font-weight: 400;
    font-size: 16px;
}

header {
    background-color: rgba(217, 217, 217, 0);
    padding-top: 15px;
    padding-bottom: 12px;
}

header img {
    margin-left: 143px;
    display: inline-block;
}

header p {
    display: inline-block;
    margin-left: 888px;
    margin-bottom: 21px;
    vertical-align: middle;
}

body {
    background: radial-gradient(139.31% 356.62% at -25.21% 0%, #FCFEFF 0%, #ECF8FF 23.96%, #F9FDFF 48.96%, #F0FBFF 74.48%, #F1FAFF 99.08%);
}

.container-main {
    max-width: 1160px;
    margin: auto;
}

.bottom {
    vertical-align: top;
    display: inline-block;
}

.man {
    width: 371px;
    height: 855px;
    position: relative;
    vertical-align: top;
    display: inline-block;
}

.title {
    color: #35C9F8;
    display: inline-block;
    width: 364px;
    text-align: center;
}

.man div {
    position: absolute;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #5BC1CB;
    border-radius: 35px;
    background-color: #ffff;
}

.heart-wrapper {
    top: 237px;
    left: 178px;
}

.heart-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.brain-wrapper {
    top: 21px;
    left: 180px;
}

.brain-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.brain:hover+.brain-tooltip {
    display: block;
}

.mouth-wrapper {
    top: 90px;
    left: 181px;
}

.mouth-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.mouth:hover+.mouth-tooltip {
    display: block;
}

.ear-wrapper {
    top: 58px;
    left: 217px;
}

.ear-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.ear:hover+.ear-tooltip {
    display: block;
}

.shit-wrapper {
    top: 114PX;
    left: 181PX;
}

.shit-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.shit:hover+.shit-tooltip {
    display: block;
}

.lungs-wrapper {
    top: 203PX;
    left: 165PX;
}

.lungs-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.lungs:hover+.lungs-tooltip {
    display: block;
}

.liver-wrapper {
    top: 290PX;
    left: 138PX;
}

.liver-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.liver:hover+.liver-tooltip {
    display: block;
}

.stomach-wrapper {
    top: 295PX;
    left: 203PX;
}

.stomach-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.stomach:hover+.stomach-tooltip {
    display: block;
}

.pancreas-wrapper {
    top: 315PX;
    left: 224PX;
}

.pancreas-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.pancreas:hover+.pancreas-tooltip {
    display: block;
}

.intestines-wrapper {
    top: 372PX;
    left: 146PX;
}

.intestines-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.intestines:hover+.intestines-tooltip {
    display: block;
}

.bladder-wrapper {
    top: 402PX;
    left: 188PX;
}

.bladder-tooltip {
    left: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.bladder:hover+.bladder-tooltip {
    display: block;
}

.heart:hover+.heart-tooltip {
    display: block;
}

.back .ear-wrapper {
    top: 58px;
    left: 144px;
}

.back .liver-wrapper {
    top: 301px;
    left: 207px;
}

.back .stomach-wrapper {
    top: 306px;
    left: 154px;
}

.back .pancreas-wrapper {
    top: 321px;
    left: 139px;
}

.back .right-bud-wrapper {
    top: 379px;
    left: 203px;
}

.bud-tooltip {
    right: 0;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    padding: 24px 30px 26px 30px;
    width: 420px;
    box-shadow: 0px 0px 16px rgba(49, 177, 218, 0.24);
    display: none;
}

.bud:hover+.bud-tooltip {
    display: block;
}

.left-bud-wrapper {
    top: 379px;
    left: 158px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 103px;
    border: #35C9F8 1px solid;
    border-radius: 44px;
    background: #35C9F8;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 60px;
    font-weight: 500;
    font-size: 28px;
    text-decoration: none;
}

.button::after {
    content: url(images/vector.svg);
    padding-left: 80px;
    padding-right: 60px;
}

footer {
    position: relative;
    background: linear-gradient(0deg, rgba(255, 214, 211, 0.52) 0%, rgba(255, 214, 211, 0) 100%);
    padding-top: 106px;
    padding-bottom: 61px;
}

footer .logo {
    position: absolute;
    right: 675px;
}

footer p {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}